.relative {
    position: relative;
}

.remove-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* o qualsiasi margine desiderato */
    transform: translateY(-50%);
    cursor: pointer;
}

.colored-bar {
    background-color: #8f00ff;
    height: 15px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -7.8px;
    margin-bottom: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
}

.colored-bar-question {
    background-color: #4285f4;
    height: 5px;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: -7.8px;
    margin-bottom: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
}

.mio-colore-personalizzato {
    background-color: #e6e6fa;
}
.colored-bar-survey {
    background-color: #8f00ff;
    height: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -7.8px;
    margin-bottom: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
}


.colore-bottone {
    background-color: #a84bff;
}

.opacity-background {
    background-color: rgba(255, 255, 255, 0.5); /* Opacità del 50% (valore da 0 a 1) */
}

